header {
    background-color: coral;
    padding: 10px;
}
 
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
 
header nav ul > li {
    display: inline-block;
    margin-right: 20px;
}
 
header nav ul li ul {
    display: none;
    position: absolute;
    background-color: white;
    padding: 10px;
}
 
header nav ul li:hover ul {
    display: block;
}
 
main {
    clear: both;
    text-align: center;
}
 
footer {
    background-color: cornflowerblue;
    text-align: center;
    padding: 10px;
}
 
section {
    display: flex;
    justify-content: center;
    margin: 20px;
}
 
article {
    margin: 0 20px;
    text-align: left;
}